<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>readm-org</title>
  <!-- all css here -->
  <!-- favicon here -->
  <link rel="icon" href="img/Aob-01.png" type="image/png" sizes="16x16">

  <!-- font-awesome-stylesheet -->
  <script src="https://kit.fontawesome.com/9a296613e7.js" crossorigin="anonymous"></script>


  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- main CSS -->
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./css/responsive.css">
</head>

<body>
  <section class="header">

    <div class="container-fluid">
      <div class="logo-header">
        <div class="logo">
          <a href="#"><img src="./img/logo.png" alt=""></a>
        </div>
        <div class="main-search-form">
          <div class="search-box-view fix">
            <form method="" class="main-search">
              <input type="text" name="" id="find" class="email" placeholder="Live Search">
              <!-- <button type="submit" class="submit" name="search">
                                <i class="fas fa-search"></i>
                            </button> -->
            </form>

          </div>
        </div>
        <div class="read-org-app">
          <!-- <a href="#"> <i class="fas fa-cart-plus"></i></a>
          <a href="#"><img src="" alt=""></a> -->
        </div>
        <div class="button">
          <a class="anchor-button" target="_blank" href="">Sign In</a>
          <a class="anchor-button" target="_blank" href="">Sign Up</a>
        </div>
      </div>
    </div>




  </section>

  <section>
    <div class="container-fluid ">
      <div class="row">
        <div class="col-md-2">
          <div class="menu pt-4">
            <h5>Menu</h5>
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#"><i class="fas fa-home"></i> Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-fire"></i> Popular Manga</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-th-list"></i> Manga List</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-tag"></i> latest Resleases</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-search"></i> Advanced Search</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> <i class="fas fa-plus"></i> collections</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.readlightnovel.me" style="color:#8bd4fa;"> <i
                    class="fas fa-book-reader"></i> Read Light Novel</a>
              </li>

            </ul>
          </div>

        </div>
        <div class=" col-md-9 pt-3">
          <h2 class="section-title">Hot<span class="org"> updates </span>Manga</h2>
          <section id="mangas">

            <div class="manga">

              <div class="mangas-item">
                <div class="mangas-img">
                  <img src="./img/1569230631_198x0.jpg" alt="">

                </div>
                <div class="mangas-info">
                  <h5>Heaven Defying Sword </h5>
                  <span><i class="fas fa-heart"> 1.1M</i> </span>


                </div>
              </div>
              <div class="mangas-item">
                <div class="mangas-img">
                  <img src="./img/1587296988_198x0.jpg" alt="">

                </div>
                <div class="mangas-info">
                  <h5>Heaven Defying Sword </h5>
                  <span><i class="fas fa-heart"> 1.1M</i> </span>


                </div>
              </div>
              <div class="mangas-item">
                <div class="mangas-img">
                  <img src="./img/1609673137_198x0.jpg" alt="">

                </div>
                <div class="mangas-info">
                  <h5>Heaven Defying Sword </h5>
                  <span><i class="fas fa-heart"> 1.1M</i> </span>

                </div>
              </div>
              <div class="mangas-item">
                <div class="mangas-img">
                  <img src="./img/1586073621_198x0.jpg" alt="">

                </div>
                <div class="mangas-info">
                  <h5>Heaven Defying Sword </h5>
                  <span><i class="fas fa-heart"> 1.1M</i> </span>

                </div>
              </div>



            </div>

        </div>

  </section>
  </section>



  <section>
    <div class="container-fluid ">
      <div class="row">
        <div class="col-md-2">
          <div class="menu pt-4">
            <h5>Categories</h5>
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Action</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> Adventure</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> Comedy</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Cooking</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Doujinshi</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> Drama</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Ecchi</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Fantasy</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Gender Bender</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Harem</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> Historical</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Horror</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Isekai</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Josei</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Lolicon</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Magic</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Manga</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Manhua</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Martial Arts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Mature</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Mecha</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> Mind Game</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Mystery</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">None</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">OneShot</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Psycological</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Recarnation</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Romance</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">School Life</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Scifi</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Science</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Shotacon</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Shouja Ai</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> Slice of life</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Sports</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Supernatural</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Tregedy</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Undercategorized</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> Yuri</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> Yaoi</a>
              </li>


            </ul>
          </div>

        </div>

        <div class=" col-md-9 pt-4">
          <div class="row">
            <h2 class="section-title">Newly <span class="org">Added </span>Manga</h2>
          </div>

          <div id="mangas">

            <div class="new-manga">

              <div class="new-mangas-item">
                <div class="new-mangas-img">
                  <img src="./img/Newly-added/1.jpg" alt="">

                </div>
                <div class="mangas-info">
                  <h5>Heaven Defying</h5>
                  <span><i class="fas fa-heart"> 1.1M</i> </span>


                </div>
              </div>
              <div class="new-mangas-item">
                <div class="new-mangas-img">
                  <img src="./img/Newly-added/2.jpg" alt="">

                </div>
                <div class="mangas-info">
                  <h5>Heaven Defying</h5>
                  <span><i class="fas fa-heart"> 1.1M</i> </span>


                </div>
              </div>
              <div class="new-mangas-item">
                <div class="new-mangas-img">
                  <img src="./img/Newly-added/3.jpg" alt="">

                </div>
                <div class="mangas-info">
                  <h5>Heaven Defying</h5>
                  <span><i class="fas fa-heart"> 1.1M</i> </span>

                </div>
              </div>

              <div class="new-mangas-item">
                <div class="new-mangas-img">
                  <img src="./img/Newly-added/4.jpg" alt="">

                </div>
                <div class="mangas-info">
                  <h5>Heaven Defying</h5>
                  <span><i class="fas fa-heart"> 1.1M</i> </span>

                </div>
              </div>

              <div class="new-mangas-item">
                <div class="new-mangas-img">
                  <img src="./img/Newly-added/5.jpg" alt="">

                </div>
                <div class="mangas-info">
                  <h5>Heaven Defying</h5>
                  <span><i class="fas fa-heart"> 1.1M</i> </span>

                </div>
              </div>

              <div class="new-mangas-item">
                <div class="new-mangas-img">
                  <img src="./img/Newly-added/6.png" alt="">

                </div>
                <div class="mangas-info">
                  <h5>Heaven Defying</h5>
                  <span><i class="fas fa-heart"> 1.1M</i> </span>

                </div>
              </div>

              <div class="new-mangas-item">
                <div class="new-mangas-img">
                  <img src="./img/Newly-added/8.jpg" alt="">

                </div>
                <div class="mangas-info">
                  <h5>Heaven Defying</h5>
                  <span><i class="fas fa-heart"> 1.1M</i> </span>

                </div>
              </div>
              <div class="new-mangas-item">
                <div class="new-mangas-img">
                  <img src="./img/Newly-added/9.jpg" alt="">

                </div>
                <div class="mangas-info">
                  <h5>Heaven Defying</h5>
                  <span><i class="fas fa-heart"> 1.1M</i> </span>

                </div>
              </div>
              <div class="new-mangas-item">
                <div class="new-mangas-img">
                  <img src="./img/Newly-added/10.jpg" alt="">

                </div>
                <div class="mangas-info">
                  <h5>Heaven Defying</h5>
                  <span><i class="fas fa-heart"> 1.1M</i> </span>

                </div>
              </div>
              <div class="new-mangas-item">
                <div class="new-mangas-img">
                  <img src="./img/Newly-added/11.jpg" alt="">

                </div>
                <div class="mangas-info">
                  <h5>Heaven Defying</h5>
                  <span><i class="fas fa-heart"> 1.1M</i> </span>

                </div>
              </div>
              <div class="new-mangas-item">
                <div class="new-mangas-img">
                  <img src="./img/Newly-added/12.jpg" alt="">

                </div>
                <div class="mangas-info">
                  <h5>Heaven Defying</h5>
                  <span><i class="fas fa-heart"> 1.1M</i> </span>

                </div>
              </div>
              <div class="new-mangas-item">
                <div class="new-mangas-img">
                  <img src="./img/1586073621_198x0.jpg" alt="">

                </div>
                <div class="mangas-info">
                  <h5>Heaven Defying</h5>
                  <span><i class="fas fa-heart"> 1.1M</i> </span>

                </div>
              </div>

            </div>

          </div>
          <div class="row pt-4">
            <h2 class="section-title">Most <span class="org">Popular</span> Comics</h2>
          </div>

          <div id="mangas">

            <div class="popular-comics">

              <div class="new-mangas-item">
                <div class="new-mangas-img">
                  <img src="./img/Newly-added/1.jpg" alt="">

                </div>
                <div class="mangas-info">
                  <h5>Heaven Defying</h5>
                  <span><i class="fas fa-heart"> 1.1M</i> </span>


                </div>
              </div>
              <div class="new-mangas-item">
                <div class="new-mangas-img">
                  <img src="./img/Newly-added/2.jpg" alt="">

                </div>
                <div class="mangas-info">
                  <h5>Heaven Defying</h5>
                  <span><i class="fas fa-heart"> 1.1M</i> </span>


                </div>
              </div>
              <div class="new-mangas-item">
                <div class="new-mangas-img">
                  <img src="./img/Newly-added/3.jpg" alt="">

                </div>
                <div class="mangas-info">
                  <h5>Heaven Defying</h5>
                  <span><i class="fas fa-heart"> 1.1M</i> </span>

                </div>
              </div>

              <div class="new-mangas-item">
                <div class="new-mangas-img">
                  <img src="./img/Newly-added/4.jpg" alt="">

                </div>
                <div class="mangas-info">
                  <h5>Heaven Defying</h5>
                  <span><i class="fas fa-heart"> 1.1M</i> </span>

                </div>
              </div>

              <div class="new-mangas-item">
                <div class="new-mangas-img">
                  <img src="./img/Newly-added/5.jpg" alt="">

                </div>
                <div class="mangas-info">
                  <h5>Heaven Defying</h5>
                  <span><i class="fas fa-heart"> 1.1M</i> </span>

                </div>
              </div>

              <div class="new-mangas-item">
                <div class="new-mangas-img">
                  <img src="./img/Newly-added/6.png" alt="">

                </div>
                <div class="mangas-info">
                  <h5>Heaven Defying</h5>
                  <span><i class="fas fa-heart"> 1.1M</i> </span>

                </div>
              </div>

              <div class="new-mangas-item">
                <div class="new-mangas-img">
                  <img src="./img/Newly-added/8.jpg" alt="">

                </div>
                <div class="mangas-info">
                  <h5>Heaven Defying</h5>
                  <span><i class="fas fa-heart"> 1.1M</i> </span>

                </div>
              </div>
              <div class="new-mangas-item">
                <div class="new-mangas-img">
                  <img src="./img/Newly-added/9.jpg" alt="">

                </div>
                <div class="mangas-info">
                  <h5>Heaven Defying</h5>
                  <span><i class="fas fa-heart"> 1.1M</i> </span>

                </div>
              </div>
              <div class="new-mangas-item">
                <div class="new-mangas-img">
                  <img src="./img/Newly-added/10.jpg" alt="">

                </div>
                <div class="mangas-info">
                  <h5>Heaven Defying</h5>
                  <span><i class="fas fa-heart"> 1.1M</i> </span>

                </div>
              </div>
              <div class="new-mangas-item">
                <div class="new-mangas-img">
                  <img src="./img/Newly-added/11.jpg" alt="">

                </div>
                <div class="mangas-info">
                  <h5>Heaven Defying</h5>
                  <span><i class="fas fa-heart"> 1.1M</i> </span>

                </div>
              </div>
              <div class="new-mangas-item">
                <div class="new-mangas-img">
                  <img src="./img/Newly-added/12.jpg" alt="">

                </div>
                <div class="mangas-info">
                  <h5>Heaven Defying</h5>
                  <span><i class="fas fa-heart"> 1.1M</i> </span>

                </div>
              </div>
              <div class="new-mangas-item">
                <div class="new-mangas-img">
                  <img src="./img/1586073621_198x0.jpg" alt="">

                </div>
                <div class="mangas-info">
                  <h5>Heaven Defying</h5>
                  <span><i class="fas fa-heart"> 1.1M</i> </span>

                </div>
              </div>

            </div>

          </div>
          <div class="row pt-4">
            <h2 class="section-title">New <span class="org">Comics</span> Added</h2>
          </div>

          <div id="mangas">

            <div class="new-manga">

              <div class="new-mangas-item">
                <div class="new-mangas-img">
                  <img src="./img/Newly-added/1.jpg" alt="">

                </div>
                <div class="mangas-info">
                  <h5>Heaven Defying</h5>
                  <span><i class="fas fa-heart"> 1.1M</i> </span>


                </div>
              </div>
              <div class="new-mangas-item">
                <div class="new-mangas-img">
                  <img src="./img/Newly-added/2.jpg" alt="">

                </div>
                <div class="mangas-info">
                  <h5>Heaven Defying</h5>
                  <span><i class="fas fa-heart"> 1.1M</i> </span>


                </div>
              </div>
              <div class="new-mangas-item">
                <div class="new-mangas-img">
                  <img src="./img/Newly-added/3.jpg" alt="">

                </div>
                <div class="mangas-info">
                  <h5>Heaven Defying</h5>
                  <span><i class="fas fa-heart"> 1.1M</i> </span>

                </div>
              </div>

              <div class="new-mangas-item">
                <div class="new-mangas-img">
                  <img src="./img/Newly-added/4.jpg" alt="">

                </div>
                <div class="mangas-info">
                  <h5>Heaven Defying</h5>
                  <span><i class="fas fa-heart"> 1.1M</i> </span>

                </div>
              </div>

              <div class="new-mangas-item">
                <div class="new-mangas-img">
                  <img src="./img/Newly-added/5.jpg" alt="">

                </div>
                <div class="mangas-info">
                  <h5>Heaven Defying</h5>
                  <span><i class="fas fa-heart"> 1.1M</i> </span>

                </div>
              </div>

              <div class="new-mangas-item">
                <div class="new-mangas-img">
                  <img src="./img/Newly-added/6.png" alt="">

                </div>
                <div class="mangas-info">
                  <h5>Heaven Defying</h5>
                  <span><i class="fas fa-heart"> 1.1M</i> </span>

                </div>
              </div>
              <!--              
                <div class="new-mangas-item">
                  <div class="new-mangas-img">
                    <img src="./img/Newly-added/8.jpg" alt="">

                  </div>
                  <div class="mangas-info">
                    <h5>Heaven Defying</h5>
                    <span><i class="fas fa-heart"> 1.1M</i> </span>

                  </div>
                </div>
                <div class="new-mangas-item">
                  <div class="new-mangas-img">
                    <img src="./img/Newly-added/9.jpg" alt="">

                  </div>
                  <div class="mangas-info">
                    <h5>Heaven Defying</h5>
                    <span><i class="fas fa-heart"> 1.1M</i> </span>

                  </div>
                </div>
                <div class="new-mangas-item">
                  <div class="new-mangas-img">
                    <img src="./img/Newly-added/10.jpg" alt="">

                  </div>
                  <div class="mangas-info">
                    <h5>Heaven Defying</h5>
                    <span><i class="fas fa-heart"> 1.1M</i> </span>

                  </div>
                </div>
                <div class="new-mangas-item">
                  <div class="new-mangas-img">
                    <img src="./img/Newly-added/11.jpg" alt="">

                  </div>
                  <div class="mangas-info">
                    <h5>Heaven Defying</h5>
                    <span><i class="fas fa-heart"> 1.1M</i> </span>

                  </div>
                </div>
                <div class="new-mangas-item">
                  <div class="new-mangas-img">
                    <img src="./img/Newly-added/12.jpg" alt="">

                  </div>
                  <div class="mangas-info">
                    <h5>Heaven Defying</h5>
                    <span><i class="fas fa-heart"> 1.1M</i> </span>

                  </div>
                </div>
                <div class="new-mangas-item">
                  <div class="new-mangas-img">
                    <img src="./img/1586073621_198x0.jpg" alt="">

                  </div>
                  <div class="mangas-info">
                    <h5>Heaven Defying</h5>
                    <span><i class="fas fa-heart"> 1.1M</i> </span>

                  </div>
                </div> -->



            </div>

          </div>


          <div class="container pt-5 section-padding-bottom">

            <div class="panel panel-primary">
              <div class="panel-heading">
                <h2 class="section-title">Latest <span class="org"> Comments</span></h2>
              </div>
              <div class="panel-body">
                <b>Ahmed</b>
                <p>hello there , this is example </p>
                <hr>

                <b>Mike</b>
                <p>hello there , this is example </p>
                <hr>

                <b>John</b>
                <p>hello there , this is example </p>
                <hr>

                <b>Mike</b>
                <p>hello there , this is example </p>
                <hr>

                <div ng-app="">
                  <b>{{Name}}</b>
                  <p>{{Comment}} </p>



                  <hr>
                  <b>New Comment</b><br />
                  <input ng-model="Name" Style="width:40%;display:inline-block;" class="form-control"
                    placeholder="Write Your Name.. " />
                  <input ng-model="Comment" Style="width:40%;display:inline-block;" class="form-control"
                    placeholder="Write Your Name.. " />
                  <button class="btn btn-danger">Add Comment</button>
                </div>
              </div>
            </div>



          </div>




</body>

</html>